body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.15em;
}

.footer-general {
    height: auto;
    background-color: #2A4656;
    padding: 5%;
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    /* max-height: 720px; */
    /* display: inline-block; */
}

footer h1 {
    color: white;
    padding-bottom: 20px;
    line-height: 56px;
    /* font-size: 48px; */
}

h5 a:link, h5 a:visited {
    color: white;
}


.title {
    display: inline-block;
}

.hours {
    padding-top: 5%;
}

.hours-chunk {
    margin-top: 10%;
}

.reservation {
    margin-top: 10%;
}
.line {
    border-bottom: solid #F9DB6C;
    border-width: 5px;
    width: 70%;
}

h5 {
    color: white;
    padding-top: 10px;
    font-size: 25px;
}

.button {
    padding-right: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 50px;
}

.hours-text {
    color: white;
    padding-top: 20px;

}

.reservation-text {
    padding-top: 20px;
}

.hours-head {
    font-weight: bold;
}

iframe {
    padding-top: 30px;
    max-width: 100%;
    max-height: 60%;
 }

.location-chunk {
    display: inline-block;
    text-align: center;
}

#address {
    text-align: center;
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 30px;
    }

    h5 {
        color: white;
        font-size: 20px;
        line-height: 18px;
        padding-bottom: 30px;
    }
}