.menu-header {
  position: relative;
  height: auto;
  left: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 17px;
  display: flex;
  background-color:  #D6C483;
}

.bottom-nav li a, .bottom-nav li a:visited {
  color: #2A4656;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 5px;
}

.bottom-nav li a:hover, .bottom-nav li a:active {
  color: #2A4656;
  font-weight: bold;
}

.bottom-nav li.active a {
  color: #2A4656;
  font-weight: bold;
}
