body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.15em;
}

.navbar {
  transition: all 0.2s;
}

.main-nav {
  background: #2b4557;
}

a {
  color:#DEDA97
}

#logo {
  max-height: 70px;
  margin-left: 5px;
}

ul.top-nav li a, ul.top-nav li a:visited {
  color: #DEDA97;
  font-weight: 400;
  font-size: 25px;
  margin-right: 10px;
  font-family: 'Roboto';
}

ul.top-nav li a:hover, ul.top-nav li a:active {
  color: #DEDA97;
  font-weight: 400;
}

ul.top-nav li.active a {
  color: #DEDA97;
  font-weight: 400;
} 



.footer-general {
  height: auto;
  background-color: #2A4656;
  padding: 5%;
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  /* max-height: 720px; */
  /* display: inline-block; */
}

footer h1 {
  color: white;
  padding-bottom: 20px;
  line-height: 56px;
  /* font-size: 48px; */
}

h5 a:link, h5 a:visited {
  color: white;
}


.title {
  display: inline-block;
}

.hours {
  padding-top: 5%;
}

.hours-chunk {
  margin-top: 10%;
}

.reservation {
  margin-top: 10%;
}
.line {
  border-bottom: solid #F9DB6C;
  border-width: 5px;
  width: 70%;
}

h5 {
  color: white;
  padding-top: 10px;
  font-size: 25px;
}

.button {
  padding-right: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 50px;
}

.hours-text {
  color: white;
  padding-top: 20px;

}

.reservation-text {
  padding-top: 20px;
}

.hours-head {
  font-weight: bold;
}

iframe {
  padding-top: 30px;
  max-width: 100%;
  max-height: 60%;
}

.location-chunk {
  display: inline-block;
  text-align: center;
}

#address {
  text-align: center;
}

.TOS {

  background-color: black;
  color: rgb(141, 134, 134);
  padding: 100px;
  height: 150%;
  /* Add background image URLs here
  background-image: url("");
  */

}

.BigLetters {

  font-family: 'Roboto';
  text-align: left;

}

.BigLetters>p {
  margin: 0;
  padding: 0;
}

.side-by-side {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.side-by-side-pics {
  display: flex;

  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.TOS_Box {
  margin-left: 3rem;
  display: flex;
  border-style: solid;
  border-color: orange;
  /*text-align: center;*/
  color: white;
  font-family: 'Roboto';
  text-align: center;

  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  padding-left: 2rem;
  padding-right: 2rem;

  padding-top: 1rem;
  padding-bottom: 1rem;

  font-weight: bold;
  font-style: italic;
}

p.All_You {

  line-height: 1;
  font-size: 75px;
  font-weight: bold;
}

p.All_You:not(:first-child) {
  margin-top: 1rem;
}

a:link {

  color: white;
  background-color: transparent;
  text-decoration: none;

}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.nav-link {

  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

}

.nav-link-home-drink {

  display: block;
  padding: 0.5rem 1rem;
  font-size: 40px;
  text-decoration: underline;
  color: white;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

}

.menu-button {
  border-radius: 5px;
  border: 2px solid white;
  /* background-color: white; */
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.default {
  /*border-color: #e7e7e7;*/
  color: white;
}

.default:hover {
  background: #e7e7e7;
}


.TOS-text-border {

  border-style: solid;
  border-color: white;
  font-size: xx-large;
}

.title-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto';
  font-style: normal;
  font-size: 75px;
  font-weight: bold;
  color: #FFF;
}

.mainCard {
  position: relative;
  text-align: center;
  color: white;
  /* margin: 10%; */
}

.text-border {

  border-style: solid;
  border-color: white;
  font-size: xx-large;
}

.AYCE-menu {

  background-image: url("../public/images/drink.png");

}

.image-captioned {
  display: grid;

  grid-template-columns: 100%;
  grid-template-rows: 100%;

  width: 50%;

  flex-shrink: 2;
}

.image-captioned>img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  filter: brightness(50%);
  grid-area: 1 / 1 / span 1 / span 1;
}

.image-captioned>* {
  grid-row-start: 1;
  grid-row-end: 2;

  grid-column-start: 1;
  grid-column-end: 2;

  width: 100%;
}

.image-captioned p {
  text-align: center;
  vertical-align: middle;

  color: white;
  font-size: 40px;
  text-decoration: underline;
}

.image-captioned>div {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {

  list-style-type: none;
  /* margin-left: 80%; */
  padding: 0;

}

li {

  display: inline;

}

li.baegopa {

  top: 30px;
  margin-top: 20%;
  ;
  display: inline;
  margin-left: 0%;

}

.menu-header {
  position: relative;
  height: auto;
  left: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 17px;
  display: flex;
  background-color:  #D6C483;
}

.bottom-nav li a, .bottom-nav li a:visited {
  color: #2A4656;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 5px;
}

.bottom-nav li a:hover, .bottom-nav li a:active {
  color: #2A4656;
  font-weight: bold;
}

.bottom-nav li.active a {
  color: #2A4656;
  font-weight: bold;
}

/* TOS */


.image {
  position: relative;
}

.top-text {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  font-family: 'Roboto';
  font-size: 100px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.78);
}

.text-center {
  color: #FFFFFF;
  font-size: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.78);
}

.container-fluid.terms {
  position: relative;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 50px;
  padding-bottom: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  color: #000000;
}

.heading {
  font-weight: 700;
}

.terms p {
  line-height: 1.5;
}

@media screen and (max-width: 900px) {
  .text-centered {
    font-size: 35px;
  }

  .text-center {
    font-size: 25px;
  }

  .container-fluid.terms {
    font-size: 15px;
  }
} 

/* END TOS */

/* APPETIZERS */

* {
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
}

#container img {
  width: 350px;
}

#menu-text {
  font-weight: bold;
}

hr {
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 3px;
  width: 37%;
  border: none;
  opacity: 1;
  background-color: #F9DB6C;
}

#korean {
  width: 25%;
}

#english {
  width: 75%
}

#price {
  text-align: end;
  vertical-align: top;
}

#container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4%;
}

.menu {
  padding: 7%;
}

.recommendation {
  padding: 5%;
  color: rgb(255, 255, 237);
  background-color: rgba(56, 56, 56, 1);
}

.menu-items td {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 1em;
}

.menu-items td:nth-child(1) {
  vertical-align: top;
}

.feature {
  padding-bottom: 15%
}

.combine {
  margin-bottom: 0px;
}

.subtext {
  color: rgb(132, 131, 131);
  margin-bottom: 0px;
  font-size: 75%;
}


p.normal {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 1em;
}

.price {
  float: right;
}

.line {
  border-bottom: solid #F9DB6C;
  border-width: 5px;
  width: 40%;
}

.line-center {
  border-bottom: solid #F9DB6C;
  border-width: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: center;
}

p.normal {
  padding-top: 4%;
  padding-bottom: 2%;
  text-align: center;
  font-weight: normal;
}

article {
  padding-bottom: 5%;
}

@media screen and (max-width: 500px) {
  .menu-items td {
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      padding-bottom: 2em;
  }

  h1 {
      font-size: 30px;
  }

  .recommendation {
      padding: 10%;
      color: rgb(255, 255, 237);
      background-color: rgba(56, 56, 56, 1);
  }
}


/* END APPETIZERS */

/**/
@media screen and (max-width: 450px) {

  p.All_You {
      font-size: 75px;
  }

}

@media screen and (max-width: 576px) {
  h1 {
      font-size: 30px;
  }

  h5 {
      color: white;
      font-size: 20px;
      line-height: 18px;
      padding-bottom: 30px;
  }
}
