* {
  font-family: 'Roboto', sans-serif;
}

.text-centered {
  white-space: nowrap;
  position: absolute;
  top: 60%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  font-family: 'Roboto';
  font-size: 100px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.78);
}

.text-center {
  color: #FFFFFF;
  font-size: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.78);
}

.containe-fluid {
  /* position: absolute;
  
  
  top: 864px; */
  position: relative;
  /* width: 1107px;
  height: 793px; */
  /* left: 206px; */
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  color: #000000;
}

.heading {
  font-weight: 700;
}

