section.title {

    background-color: green;
    color: blue;
    padding: 100px;
    height: 150%;
    /* Add background image URLs here
    background-image: url("");
    */

    
}

section.TOS {

    background-color: red;
    color: blue;
    padding: 100px;
    /* Add background image URLs here
    background-image: url("");
    */

}

section.AYCE {

    background-color: yellow;
    color: blue;
    padding: 100px;
    /* Add background image URLs here
    background-image: url("");
    */

}

section.reserve {

    background-color: rgb(145, 71, 19);
    color: blue;
    padding: 100px;
    /* Add background image URLs here
    background-image: url("");
    */


}

footer {

    background-color: rgb(29, 134, 175);
    color: blue;
    padding: 100px;
    height: 150%;

    /* Add background image URLs here
    background-image: url("");
    */

}

/*header {

    color: blue;
    height: 100vh;
    padding: 100px;
    display: inline;
    /* Add background image URLs here*/
    /*background-image: url("https://cdn.shopify.com/s/files/1/0615/0851/8126/files/home-about_600x.png?v=1639444104");
    


}*/

ul {
    
    list-style-type: none;
    margin-left: 80%;
    padding: 0;

}

li {

    display: inline;

}

li.baegopa {

    top: 30px;
    margin-top: 20%;;
    display: inline;
    margin-left: 0%;

}