.navbar {
  transition: all 0.2s;
}

.main-nav {
  background: #2b4557;
}

.a {
  color:#DEDA97
}

#logo {
  max-height: 70px;
  margin-left: 5px;
}

ul.top-nav li a, ul.top-nav li a:visited {
  color: #DEDA97;
  font-weight: 400;
  font-size: 25px;
  margin-right: 10px;
  font-family: 'Roboto';
}

ul.top-nav li a:hover, ul.top-nav li a:active {
  color: #DEDA97;
  font-weight: 400;
}

ul.top-nav li.active a {
  color: #DEDA97;
  font-weight: 400;
}