.navbar {
  transition: all 0.2s;
  background: #2b4557;
  
}

.p {
  color:#DEDA97
}

#logo {
  max-height: 50px;
}
 /* .baegopa-header {
  position: relative;
  height: 80px;
  left: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 23px;
  display: flex;
  background-color:  #2A4656;
}

.nav-items {
  margin-left: 70%;
}

.nav-items li a {
  color: #DEDA97;
  margin: 10px;
}


.navbar-nav li a:hover{
  color: white;
} */
